html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  @apply bg-tertiary-500;
}
* {
  outline: 1px solid red;
}

body {
  min-height: 100vh;
  position: relative;
}

#__next {
  @apply relative flex h-screen flex-col;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes hover-effect {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes shadow-effect {
  from {
    transform: scale(0.7) rotateX(80deg);
    background-color: #00000077;
  }
  to {
    transform: scale(1) rotateX(80deg);
    background-color: #000000a3;
  }
}

@layer utilities {
  .clip-bg {
    clip-path: polygon(
      min(40vh, 500px) 0%,
      100% 0,
      100% 100%,
      0 100%,
      min(25vh, 300px) 45%
    );
  }
  .clip-bg-mobile {
    clip-path: polygon(50% 50%, 100% 7%, 100% 100%, 0 100%, 0% 80%);
  }
  .clip-nav {
    clip-path: polygon(4rem 0, 100% 0, 100% 100%, 0% 100%);
  }

  .hover-animation {
    animation: hover-effect 3s infinite alternate
      cubic-bezier(0.5, 0.05, 1, 0.57);
  }
  .shadow-animation {
    animation: shadow-effect 3s infinite alternate
      cubic-bezier(0.5, 0.05, 1, 0.57);
  }
}
