html,
body {
  padding: 0;
  margin: 0;
  font-family: teko, sans;
  color: white;
  min-height: 100vh;
  position: relative;
  @apply bg-tertiary-500;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-second-100;
}
#__next {
  @apply relative flex h-screen flex-col;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes hover-effect {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes shadow-effect {
  from {
    transform: scale(0.7) rotateX(80deg);
    background-color: #00000077;
  }
  to {
    transform: scale(1) rotateX(80deg);
    background-color: #000000a3;
  }
}

@keyframes shake {
  from {
    transform: translate3d(0, 0, 0);
  }
  97% {
    transform: translate3d(0, 0, 0);
  }
  98% {
    transform: translate3d(-1px, 0, 0);
  }
  98.5% {
    transform: translate3d(4px, -4px, 0);
  }
  99% {
    transform: translate3d(-4px, 4px, 0);
  }
  to {
    transform: translate3d(4px, 0, 0);
  }
}

@layer utilities {
  .clip-bg {
    clip-path: polygon(
      min(19%, 240px) 0%,
      100% 0,
      100% 100%,
      0 100%,
      min(13%, 150px) 50%
    );
  }
  .clip-bg-mobile {
    clip-path: polygon(50% 50%, 100% 23%, 100% 100%, 0 100%, 0% 90%);
  }
  .clip-nav {
    clip-path: polygon(2rem 0, 100% 0, 100% 100%, 0% 100%);
  }

  .hover-animation {
    animation: hover-effect 3s infinite alternate
      cubic-bezier(0.5, 0.05, 1, 0.57);
  }
  .shadow-animation {
    animation: shadow-effect 3s infinite alternate
      cubic-bezier(0.5, 0.05, 1, 0.57);
  }
  .shake-animation {
    animation: shake 3s infinite alternate cubic-bezier(0.5, 0.05, 1, 0.57);
  }
}

.toastify-custom {
  border-radius: 0 !important;
}
